@model Benaa2018.Helper.ViewModels.InternalUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="popupTopBtnCon">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <div class="dropdown">
                            <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                New
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Internal User</a></li>
                                <li><a href="#">Sub/ Vandor</a></li>
                                <li><a href="#">Customer Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 text-right pull-right form-group">
                        <div class="dropdown combineChecked">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                Checked Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Combine Checked</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="filterContainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                FILTER YOUR RESULTS
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="col-sm-2 form-group">
                                                <label>Name</label>
                                                <input type="text" id="txtName" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-sm-2 pull-right form-group">
                                                <label>Status</label>
                                                <select id="SelectUser">
                                                    <option value="">All Users</option>
                                                    <option value="true">Enabled Users</option>
                                                    <option value="false">Disable Users</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <disv class="row">
                                            <div class="col-sm-6">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" id="updateinternaluser" type="button" data-toggle="dropdown">Update Results</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Save Filter
                                                </button>
                                            </div>
                                        </disv>
                                    </div>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-2 form-group tooltip-div">
                                                <label>Keyword</label>
                                                <input type="text" class="form-control" placeholder="Keyword">
                                                <select multiple class="noCheckbox">
                                                    <option value="Email">Company</option>
                                                    <option value="Email">Primary Contact</option>
                                                    <option value="Phone/Cell">Email Address</option>
                                                    <option value="City">Phone/Cell/Fax</option>
                                                    <option value="Street Address">Street Address</option>
                                                    <option value="City">City</option>
                                                    <option value="Zip">Zip</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label>Division</label>
                                                <select multiple class="noCheckbox">
                                                    <option value="Email">Concrete</option>
                                                    <option value="Email">Conveying System</option>
                                                    <option value="Phone/Cell">Doors & Windows</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 form-group">
                                                <label>Status</label>
                                                <select multiple class="withCheckbox">
                                                    <option value="Owner">Activate Only</option>
                                                    <option value="Lead Opportunity">Pending Only</option>
                                                </select>
                                            </div>                                            
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Update Results</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Save Filter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-2 form-group tooltip-div">
                                                <label>Keyword</label>
                                                <input type="text" class="form-control" placeholder="Keyword">
                                                <select multiple class="noCheckbox">
                                                    <option value="Email">Company</option>
                                                    <option value="Email">Primary Contact</option>
                                                    <option value="Phone/Cell">Email Address</option>
                                                    <option value="City">Phone/Cell/Fax</option>
                                                    <option value="Street Address">Street Address</option>
                                                    <option value="City">City</option>
                                                    <option value="Zip">Zip</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label>Division</label>
                                                <select multiple class="noCheckbox">
                                                    <option value="Email">Concrete</option>
                                                    <option value="Email">Conveying System</option>
                                                    <option value="Phone/Cell">Doors & Windows</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-2 form-group">
                                                <label>Status</label>
                                                <select multiple class="withCheckbox">
                                                    <option value="Owner">Activate Only</option>
                                                    <option value="Lead Opportunity">Pending Only</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" placeholder="">
                                            </div>
                                            <div class="col-sm-2 pull-right form-group">
                                                <label>Saved Filter</label>
                                                <select multiple class="noCheckbox">
                                                    <option value="Standard">Standard Filter</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Update Results</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                                <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Save Filter
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabsConatiner">
                <div class="tabbable boxed parentTabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#set11">Internal User</a></li>
                        <li><a href="#set22">Subs</a></li>
                        <li><a href="#set33">Customer Contacts</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="set11">
                            <div class="tabConInfo">
                                <div class="dataTableConatainer">
                                    <table id="internaluser" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="set22">
                            <div class="tabConInfo">
                                <div class="dataTableConatainer">
                                    <table id="subcontractor" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="set33">
                            <div class="tabConInfo">
                                <div class="dataTableConatainer">
                                    <table id="customercontracts" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .tab_container -->
        </div>

    </div>
</div>

<script>
    function BindUser(jsonString) {
        $("#internaluser").jqGrid({
            colModel: [
                { name: "UserId", label: "UserId", width: 53, hidden: true },
                { name: "Name", label: "Name", width: 53 },
                {
                    name: "AdminAccess", label: "Admin Access", width: 75
                },
                { name: "LoginEnabled", label: "Login Enabled", width: 65 },
                { name: "AutoAccess", label: "Auto Access", width: 41 },
                { name: "Email", label: "Email", width: 41 },
                { name: "Phone", label: "Phone", width: 51 }
            ],
            data: jsonString,
            iconSet: "fontAwesome",
            idPrefix: "g5_",
            rownumbers: true,
            sortname: "Name",
            sortorder: "desc",
            threeStateSort: true,
            sortIconsBeforeText: true,
            headertitles: true,
            toppager: true,
            pager: true,

            rowNum: 5,
            viewrecords: true,
            searching: {
                defaultSearch: "cn"
            },
            caption: ""
        });
    }
    $(document).ready(function () {
        BindUser(@Html.Raw(Model.InternalUserJsonGrid));
        $('#updateinternaluser').on('click', function () {
            var name = $('#txtName').val();
            var usertype = $('#SelectUser').val();
            var companyId = 1;
            var datainfo = { "companyId": companyId, "name": name, "status": usertype };
            $.post("InternalUser/FilterInternalUserAsync", datainfo, function (data) {
                BindUser(data);
            });
        });
        $("#subcontractor").jqGrid({
            colModel: [
                { name: "SubContractorId", label: "SubContractorId", width: 53, hidden: true },
                { name: "Company", label: "Company", width: 53 },
                {
                    name: "Division", label: "Division", width: 75
                },
                { name: "Activation", label: "Activation", width: 65 },
                { name: "PrimaryContact", label: "Primary Contact", width: 41 },
                { name: "TradeAgreement", label: "Trade Agreement", width: 41 },
                { name: "LiabilityExp", label: "Liability Exp.", width: 51 },
                { name: "WorkCompExp", label: "Work Comp Exp.", width: 59 },
                { name: "Cell", label: "Cell", width: 65 },
                { name: "Phone", label: "Phone", width: 41 },
                { name: "Email", label: "Email", width: 51 }
            ],
            data: @Html.Raw(Model.SubContractorJsonGrid),
            iconSet: "fontAwesome",
            idPrefix: "g5_",
            rownumbers: true,
            sortname: "ProjectName",
            sortorder: "desc",
            threeStateSort: true,
            sortIconsBeforeText: true,
            headertitles: true,
            toppager: true,
            pager: true,

            rowNum: 5,
            viewrecords: true,
            searching: {
                defaultSearch: "cn"
            },
            caption: ""
        });
     });
</script>