@model Benaa2018.Helper.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.IsleftMenuVisible != false)
{
    Benaa2018.Helper.ViewModels.BaseViewModel baseBeena = ViewBag.Basemodel;
    <div class="col-xs-12 col-sm-6 col-md-3  col-lg-2" id="leftNavCon">
        @Html.Partial("_leftMenu", baseBeena);
    </div>
}
<div class="mainContentDiv">
    @Html.Partial("_homeMainContent", Model)
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', 'a.allProject', function () {
                var projectid = parseInt($(this).attr('data-projectid'));
                var postData = { projectId: projectid };
                $("div.mainContentDiv").load('@(Url.Action("FilteredMainContentAsync", "Home",null))', postData);
                $('#spnproject').text($(this).text());
            });
    });
</script>