@model Benaa2018.Helper.ViewModels.UserPreferenceViewModel
@{
    ViewData["Title"] = "UserPreferences";
    Layout = "~/Views/Shared/_LayoutPrefer.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
</html>
