
@{
    ViewData["Title"] = "Planning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Ext and ux styles -->
@*<link href="https://www.bryntum.com/examples/extjs-6.5.3/build/classic/theme-triton/resources/theme-triton-all.css" rel="stylesheet" type="text/css" />*@
<link href="~/css/bryntum/theme-triton-all.css" rel="stylesheet" />
<!--Scheduler styles-->
<link href="~/css/bryntum/sch-gantt-triton-all.css" rel="stylesheet" />
<!--Implementation specific styles-->
<link href="~/css/bryntum/examples.css" rel="stylesheet" />
<link href="~/css/bryntum/app.css" rel="stylesheet" />
<!--Ext lib and UX components-->
<script src="~/js/bryntum/ext-all.js"></script>

<script src="~/js/bryntum/theme-triton.js"></script>
<script src="~/js/bryntum/gnt-all-debug.js"></script>
<!--Application files-->
<script src="~/js/bryntum/examples-shared.js"></script>
<script src="~/js/bryntum/app.js"></script>
<div class="details-text">
    <h3>Baseline demo</h3>
    <p>This example shows both the current plan and the original baseline.</p>
</div>

