
<div class="modal-dialog innerPop">
    <div class="panel panel-primary customPopup">
        <div class="panel-heading themeColor">
            <button type="button" class="close closee" aria-hidden="true">×</button>
            <h4 class="panel-title" id="contactLabel">Create New Schedule Item</h4>
        </div>
        <div class="panel-body">
            <iframe id="" style="width: 900px; height: 100%; border: 0px; visibility: visible;" src="../Views/Iframe/selectsedualItem.html"></iframe>

            
        </div>

    </div>

</div>
