@model Benaa2018.Helper.ViewModels.CalendarScheduledItemViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContentDiv" style="margin-left: 235px;">
    <button id="btnAddScheule">Add</button>
    <div class="filterContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    FILTER YOUR RESULTS
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <span>Project Group</span>
                                        <select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectGroupID" multiple="" name="ProjectMasterModel.ProjectGroupID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Project Managers</span>
                                        <select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectManagerID" multiple="" name="ProjectMasterModel.ProjectManagerID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Status</span>
                                        <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Status* field is required." id="ProjectMasterModel_ProjectStatusID" multiple="" name="ProjectMasterModel.ProjectStatusID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Project Type</span>
                                        <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Type* field is required." id="ProjectMasterModel_ProjectTypeID" multiple="" name="ProjectMasterModel.ProjectTypeID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group tooltip-div">
                                        <div class="input-group">
                                            <input type="text" id="txtKeyWord1" class="form-control" placeholder="Keyword">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Tooltip on left">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <label>Actual Start Date</label>
                                        <div class="input-group">
                                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <label>Actual End Date</label>
                                        <div class="input-group">
                                            <input class="form-control" id="date1" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group tooltip-div">
                                        <label>Name</label>
                                        <div class="input-group">
                                            <input type="text" id="serchtext" class="form-control" placeholder="Keyword">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnUpdateResults">Update Results</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar"></div>
</div>
<div class="modal fade" id="calendarmodal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="modal-dialog modal-lg width94">
        <div class="panel panel-primary customPopup">
            <div class="panel-heading themeColor">
                <button type="button" class="close" id="infoclose" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel">Projects List</h4>
            </div>
            <div class="panel-body">
                <div class="popupTopBtnCon">
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <div class="dropdown">
                                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    Save
                                    <span class="caret"></span>
                                </button>
                                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                    Save & New 
                                    <span class="caret"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-2 text-right pull-right form-group">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Map All</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="filterContainer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <div class="row">
                                                <div class="col-sm-2 form-group">
                                                    <span>Title</span>
                                                    <input asp-for="Title" class="form-control" />
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    @{
                                                            Benaa2018.Helper.ViewModels.BaseViewModel baseModel = ViewBag.Basemodel;
                                                    }
                                                    <span>Display Color</span>
                                                    @Html.DropDownListFor(a => a.ColorCode, new SelectList(baseModel.ProjectColorModels, "ColorCode", "ProjectColorName"))                                                    
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <span>Status</span>
                                                    <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Status* field is required." id="ProjectMasterModel_ProjectStatusID" multiple="" name="ProjectMasterModel.ProjectStatusID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <span>Project Type</span>
                                                    <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Type* field is required." id="ProjectMasterModel_ProjectTypeID" multiple="" name="ProjectMasterModel.ProjectTypeID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                                </div>
                                                <div class="col-sm-2 form-group tooltip-div">
                                                    <div class="input-group">
                                                        <input type="text" id="txtKeyWord2" class="form-control" placeholder="Keyword">
                                                        <div class="input-group-btn">
                                                            <button type="button" class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Tooltip on left">
                                                                <span class="glyphicon glyphicon-info-sign"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2 form-group">
                                                    <label>Actual Start Date</label>
                                                    <div class="input-group">
                                                        <input class="form-control" asp-for="StartDate" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                            <i class="fa fa-calendar">
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 form-group">
                                                    <label>Actual End Date</label>
                                                    <div class="input-group">
                                                        <input class="form-control" asp-for="EndDate"  placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                            <i class="fa fa-calendar">
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 form-group tooltip-div">
                                                    <label>Name</label>
                                                    <div class="input-group">
                                                        <input type="text" id="serchtext" class="form-control" placeholder="Keyword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnUpdateResults">Update Results</button>&nbsp;
                                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabsConatiner">
                        <ul class="tabs">
                            <li class="active" rel="tab1">List</li>
                            <li rel="tab2">Map</li>
                            <li rel="tab3" class="tab_last">Cluster Map</li>
                        </ul>
                        <div class="tab_container">
                            <h3 class="d_active tab_drawer_heading" rel="tab1">List</h3>
                            <div id="tab1" class="tab_content" style="display: block;">
                                <div class="dataTableConatainer">
                                    <button id="export">Export to Excel</button>
                                    
                                </div>
                            </div>
                            <!-- #tab1 -->
                            <h3 class="tab_drawer_heading" rel="tab2">Tab 2</h3>
                            <div id="tab2" class="tab_content" style="display: none;">
                                <div class="clusterMapCon">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="filterMap">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-default btn-sm" type="button" disabled="">Previous</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        Page&nbsp;<input type="text" class="inpWidth50">&nbsp;of 1
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-default btn-sm" type="button" disabled="">Next</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select name="select" class="form-control">
                                                            <option role="option" value="20">20 per page</option>
                                                            <option role="option" value="50">50 per page</option>
                                                            <option role="option" value="75">75 per page</option>
                                                            <option role="option" value="100">100 per page</option>
                                                            <option role="option" value="250">250 per page</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="listmapCon">
                                                            <span class="glyphicon glyphicon-map-marker"></span><label> al shatee</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-default btn-sm" type="button" disabled="">Previous</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        Page&nbsp;<input type="text" class="inpWidth50">&nbsp;of 1
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-default btn-sm" type="button" disabled="">Next</button>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select name="select" class="form-control">
                                                            <option role="option" value="20">20 per page</option>
                                                            <option role="option" value="50">50 per page</option>
                                                            <option role="option" value="75">75 per page</option>
                                                            <option role="option" value="100">100 per page</option>
                                                            <option role="option" value="250">250 per page</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8" id="dvMapEdit">
                                            Map will be placed here
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #tab2 -->
                            <h3 class="tab_drawer_heading" rel="tab3">Tab 3</h3>
                            <div id="tab3" class="tab_content" style="display: none;">
                                <div id="dvMapCluster" class="clusterMapCon">

                                </div>
                            </div>
                            <!-- #tab3 -->
                        </div>
                    </div>
                    <!-- .tab_container -->
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="modal fade" id="calendarmodalgeneral" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none;">
    <div class="header">
        <h2>New Item</h2>
        <button class="bt-calendar-quick-add--cancel" data-bind="click: onCancelClick">Cancel</button>
    </div>
    <div class="modal-dialog modal-lg width94">
        <div class="row bt-calendar-quick-add--body-row">
            <div class="col-xs-4">
                <span class="fieldHeader">Date:</span>
            </div>
            <div class="col-xs-8">
                <span data-bind="text: dateDisplay">10/07/2018</span>
            </div>
        </div>
        <div class="row bt-calendar-quick-add--body-row">
            <div class="col-xs-4">
                <span class="fieldHeader">Title*</span>
            </div>
            <div class="col-xs-8">
                <bt-single-line-text params="value: title, maxLength: 50">
                    <div class="bt-single-line-text form-group form-group-sm" data-bind="css: formGroupSize">
                        <label class="bt-single-line-text--label" data-bind="text: title, visible: title().length > 0" style="display: none;"></label>
                        <input class="bt-single-line-text--value form-control input-sm validation-border required-placeholder" data-bind="value: value, disable: readOnly, addUniqueID: uniqueId, css: inputSize, attr: { maxLength: maxLength, placeholder: placeholder, tabindex: isTabbable }, validationBorder: value, requiredValidationElement: value, valueUpdate: valueUpdate " id="ui-id-15" maxlength="" tabindex="0" placeholder="Required">
                    </div>
                    <div>
                        <span class="valMessage bt-single-line-text-validator" data-bind="btValidationMessage: value" style="display: none;"></span>
                    </div>
                </bt-single-line-text>
            </div>
        </div>
        <div class="row bt-calendar-quick-add--body-row">
            <div class="col-xs-4">
                <span class="fieldHeader">Assigned To:</span>
            </div>
            <div class="col-xs-8">
                <!-- ko if: assignedUsersLoaded -->
                <bt-multi-select-dropdown params="serviceObject: assignedUsersServiceObject, optionGroups: assignedUsersServiceObject.value">
                    <label data-bind="text: title, visible: ko.unwrap(title).length > 0" style="display: none;"></label>
                    <!-- ko if: toolTipText().length > 0 && ko.unwrap(title).length > 0--><!-- /ko -->
                    <div class="bt-multi-select-dropdown">
                        <div class="bt-multi-select-dropdown--dropdown-container">
                            <!-- ko if: optionGroups && ko.unwrap(optionGroups).length > 0 -->
                            <select class="multiselect-dropdown bt-multi-select-dropdown--dropdown" style="width: 100%; display: none;" data-bind="disable: readOnly, addUniqueID: uniqueId, foreach: optionGroups, selectedOptions: serviceObject.selectedValues, multiselectDropdown: serviceObject.selectedValues, validationBorder: serviceObject.selectedValues, requiredValidationElement: serviceObject.selectedValues" multiple="" id="ui-id-18" aria-disabled="false">
                                <optgroup data-bind="attr: { label: name }, foreach: options" label="Internal Users">
                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3154106" title="" optgroup="Internal Users">Ahmed Garrash</option>

                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3178591" title="" optgroup="Internal Users">aryan singh</option>

                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3178809" title="" optgroup="Internal Users">raja baja</option>

                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3137860" title="" optgroup="Internal Users">Shahnawaz Khan</option>
                                </optgroup>

                                <optgroup data-bind="attr: { label: name }, foreach: options" label="Subs">
                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3178810" title="" optgroup="Subs">Al Asaseya</option>

                                    <option data-bind="text: name, value: id, attr: { title: ko.unwrap($component.extraDataToolTip($data)), optgroup: $parent.name, disabled: ko.unwrap($component.extraDataDisabled($data)) || ko.unwrap($component.readOnly) }" value="3193088" title="" optgroup="Subs">Raja</option>
                                </optgroup>
                            </select><button type="button" class="ui-multiselect ui-widget ui-state-default btMultiSelect" aria-haspopup="true" style="width: 266px;" aria-disabled="false"><span class="ui-icon ui-icon-triangle-1-s"></span><span>-- No Items Selected --</span></button>
                            <!-- /ko -->
                            <!-- ko ifnot: optionGroups && ko.unwrap(optionGroups).length > 0 --><!-- /ko -->
                        </div>
                    </div>

                    <!-- ko if: typeof(options) !== 'undefined' --><!-- /ko -->
                </bt-multi-select-dropdown>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if: isNotifyVisible --><!-- /ko -->
        <div class="row bt-calendar-quick-add--body-row">
            <div class="col-xs-4">
                <span class="fieldHeader">Color:</span>
            </div>
            <div class="col-xs-8">
                <select data-bind="addUniqueID: colorDropDownUniqueId" class="bt-calendar-quick-add--color-picker colorPicker" id="ui-id-3" style="background-color: rgb(68, 33, 33);"><option value="#442121" style="background-color: rgb(68, 33, 33);">Maroon</option><option value="#572A2A" style="background-color: rgb(87, 42, 42);">Merlot</option><option value="#8C4343" style="background-color: rgb(140, 67, 67);">Tuscan Red</option><option value="#AD5252" style="background-color: rgb(173, 82, 82);">Rose</option><option value="#C78888" style="background-color: rgb(199, 136, 136);">Victoria</option><option value="#542C10" style="background-color: rgb(84, 44, 16);">Brown</option><option value="#6C3815" style="background-color: rgb(108, 56, 21);">Coffee</option><option value="#AD5A21" style="background-color: rgb(173, 90, 33);">Amber</option><option value="#D67029" style="background-color: rgb(214, 112, 41);">Peach</option><option value="#E39D6C" style="background-color: rgb(227, 157, 108);">Cream</option><option value="#353F26" style="background-color: rgb(53, 63, 38);">Forest</option><option value="#435130" style="background-color: rgb(67, 81, 48);">Olive</option><option value="#6C824D" style="background-color: rgb(108, 130, 77);">Green</option><option value="#84A05E" style="background-color: rgb(132, 160, 94);">Mint</option><option value="#ABBE91" style="background-color: rgb(171, 190, 145);">Cucumber</option><option value="#2D263E" style="background-color: rgb(45, 38, 62);">Plum</option><option value="#3A3150" style="background-color: rgb(58, 49, 80);">Purple</option><option value="#5C4E81" style="background-color: rgb(92, 78, 129);">Lavender</option><option value="#72609F" style="background-color: rgb(114, 96, 159);">Iris</option><option value="#9E92BD" style="background-color: rgb(158, 146, 189);">Violet</option><option value="#213444" style="background-color: rgb(33, 52, 68);">Navy</option><option value="#2A4257" style="background-color: rgb(42, 66, 87);">Levi</option><option value="#436A8C" style="background-color: rgb(67, 106, 140);">Ocean</option><option value="#5283AD" style="background-color: rgb(82, 131, 173);">Ice</option><option value="#88AAC7" style="background-color: rgb(136, 170, 199);">Sky</option><option value="#323232" style="background-color: rgb(50, 50, 50);">Graphite</option><option value="#404040" style="background-color: rgb(64, 64, 64);">Gunmetal</option><option value="#676767" style="background-color: rgb(103, 103, 103);">Silver</option><option value="#7F7F7F" style="background-color: rgb(127, 127, 127);">Gray</option><option value="#A7A7A7" style="background-color: rgb(167, 167, 167);">Full Moon</option><option value="#1D1D1D" style="background-color: rgb(29, 29, 29);">Black</option><option value="#DD2222" style="background-color: rgb(221, 34, 34);">Alarm Red</option><option value="#ED2591" style="background-color: rgb(237, 37, 145);">Alarm Pink</option><option value="#2222DD" style="background-color: rgb(34, 34, 221);">Alarm Blue</option><option value="#008000" style="background-color: rgb(0, 128, 0);">Alarm Green</option><option value="#6F116F" style="background-color: rgb(111, 17, 111);">Alarm Purple</option><option value="#FF9600" style="background-color: rgb(255, 150, 0);">Alarm Orange</option><option value="#2CD1D2" style="background-color: rgb(44, 209, 210);">Alarm Aqua</option><option value="#9FC62A" style="background-color: rgb(159, 198, 42);">Alarm Lime</option><option value="#DDC817" style="background-color: rgb(221, 200, 23);">Alarm Gold</option></select>
            </div>
        </div>
        <div class="row bt-calendar-quick-add--body-row">
            <div class="col-xs-8 col-xs-offset-4" id="quickAddEditContainer">
                <input type="button" id="btnQuickAddSave" class="blueButton" value="Save" data-bind="click: onSaveClick">
                <a href="#" id="btnQucikAddEditItem" data-bind="click: onEditClick">Edit schedule item »</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['gantt'] });
    google.charts.setOnLoadCallback(drawChart);
    function toMilliseconds(minutes) {
        return minutes * 60 * 1000;
    }
    function drawChart() {
        var otherData = new google.visualization.DataTable();
        otherData.addColumn('string', 'Task ID');
        otherData.addColumn('string', 'Task Name');
        otherData.addColumn('string', 'Resource');
        otherData.addColumn('date', 'Start');
        otherData.addColumn('date', 'End');
        otherData.addColumn('number', 'Duration');
        otherData.addColumn('number', 'Percent Complete');
        otherData.addColumn('string', 'Dependencies');

        otherData.addRows([
            ['toTrain', 'Walk to train stop', 'walk', null, null, toMilliseconds(5), 100, null],
            ['music', 'Listen to music', 'music', null, null, toMilliseconds(70), 100, null],
            ['wait', 'Wait for train', 'wait', null, null, toMilliseconds(10), 100, 'toTrain'],
            ['train', 'Train ride', 'train', null, null, toMilliseconds(45), 75, 'wait'],
            ['toWork', 'Walk to work', 'walk', null, null, toMilliseconds(10), 0, 'train'],
            ['work', 'Sit down at desk', null, null, null, toMilliseconds(2), 0, 'toWork']
        ]);
        var options = {
            height: 275,
            gantt: {
                defaultStartDateMillis: new Date(2015, 3, 28)
            }
        };
        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
        chart.draw(otherData, options);
    }
</script>   
<div id="chart_div"></div>