
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContentDiv" style="margin-left: 235px;">
    <div class="filterContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    FILTER YOUR RESULTS
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <span>Project Group</span>
                                        <select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectGroupID" multiple="" name="ProjectMasterModel.ProjectGroupID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Project Managers</span>
                                        <select class="withCheckbox jqmsLoaded" id="ProjectMasterModel_ProjectManagerID" multiple="" name="ProjectMasterModel.ProjectManagerID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Status</span>
                                        <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Status* field is required." id="ProjectMasterModel_ProjectStatusID" multiple="" name="ProjectMasterModel.ProjectStatusID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <span>Project Type</span>
                                        <select class="withCheckbox jqmsLoaded" data-val="true" data-val-required="The Project Type* field is required." id="ProjectMasterModel_ProjectTypeID" multiple="" name="ProjectMasterModel.ProjectTypeID" style="display: none;"></select><div class="ms-options-wrap"><button type="button"><span>--Select--</span></button><div class="ms-options" style="min-height: 200px; max-height: 625px;"><div class="ms-search"><input type="text" value="" placeholder="Search"></div><a href="#" class="ms-selectall global">Unselect all</a><ul style="column-count: 1; column-gap: 0px;"></ul></div></div>
                                    </div>
                                    <div class="col-sm-2 form-group tooltip-div">
                                        <div class="input-group">
                                            <input type="text" id="txtKeyWord1" class="form-control" placeholder="Keyword">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Tooltip on left">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 form-group">
                                        <label>Actual Start Date</label>
                                        <div class="input-group">
                                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group">
                                        <label>Actual End Date</label>
                                        <div class="input-group">
                                            <input class="form-control" id="date1" name="date" placeholder="MM/DD/YYYY" type="text">  <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-group tooltip-div">
                                        <label>Name</label>
                                        <div class="input-group">
                                            <input type="text" id="serchtext" class="form-control" placeholder="Keyword">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnUpdateResults">Update Results</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Reset</button>&nbsp;
                                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Save Filter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dataTableConatainer">
        <button id="todo">New ToDo</button>
        <table id="example"></table>
    </div>
</div>