@model Benaa2018.Helper.ViewModels.ActivityMasterViewModel
@{
    ViewData["Title"] = "InsertActivityMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>InsertActivityMaster</h2>
<form id="frmActivitySetup" enctype="multipart/form-data" method="post">
   
        <div>


            <div>
                <label asp-for="ActivityName" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="ActivityName" class="form-control" />

                </div>
            </div>
            <div>
                <label asp-for="MainActivityId" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <select asp-for="MainActivityId" class="form-control" asp-items="@(new SelectList(@ViewBag.listofGroup,"MainActivityId","MainActivityName"))"></select>

                </div>

            </div>
            <div>
                <label asp-for="Sequence" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Sequence" class="form-control" />
                </div>
            </div>
            <div>
                <label asp-for="Status" class="col-md-2 control-label"></label>
                <div class="col-md-12">
                    <input asp-for="Status" type="checkbox" />
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <button type="submit">Save</button>
                </div>
            </div>

        </div>
    </form>
