@charset "utf-8";

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.navbar-inverse {
    background: #8f806d;
    border-bottom-color: #8f806d;
    border-radius: 0px;
    margin-bottom: 0;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
            color: #fff;
            background-color: #605343;
        }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
        color: #fff;
        background-color: #605343;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: #605343;
    }


.footerContainer {
    border-top: 20px solid #8f806d;
}

.smallTXT {
    font-size: 11px;
    padding: 15px 0;
}

/*.glyphicon-question-sign,.glyphicon-cog, .glyphicon-user, .glyphicon-bell{ font-size:1.5em;}*/
.logoBar {
    margin: 0 0 20px;
    background: #fff;
    padding: 10px 0 10px 21px;
}

    .logoBar .row {
        margin: 0;
    }

.phoneContainer {
    margin-top: 33px;
    font-weight: bold;
    font-size: 11px;
}

.jobrunningTotal {
    margin-top: 33px;
    font-weight: bold;
    font-size: 11px;
}

.main-color-bg {
    color: #fff;
    background-color: #626262;
    border-color: #626262;
    height: 40px;
}

    .main-color-bg label {
        color: #333;
    }

.iconAlign {
    float: right;
}

    .iconAlign.mrgn17tp {
        margin-top: -0;
    }

    .iconAlign span {
        margin: 0 0 0 0;
        cursor: pointer;
    }

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: bold;
    padding: 3px 5px;
}

.list-group-item {
    width: 100%;
    float: left;
}

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #222;
        background-color: #e7f0f5;
        border-color: #ddd;
    }

.view {
    background: #efedee;
    text-align: center;
    font-size: 35px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .view:before {
        content: '-------- Viewing --------';
        position: absolute;
        height: 25px;
        width: 100%;
        text-align: center;
        left: 0;
        top: 10px;
        font-size: 13px;
        color: #666;
    }


    .view:after {
        content: '-------- Job --------';
        position: absolute;
        height: 25px;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: 10px;
        font-size: 13px;
        color: #666;
    }


input.form-control {
    border-radius: 0;
}

.searchIcon {
    position: absolute;
    right: 25px;
    top: 20px;
}

.main-color-bg-pink {
    color: #fff;
    background-color: #8f806d;
    border-color: #8f806d;
    text-align: center;
}

.iconAlignLeft {
    float: left;
}

.tableContainer {
    border: 1px solid #ddd;
    overflow-x: scroll;
    overflow-y: auto;
    background: #fff;
}

    .tableContainer table {
        margin-bottom: 0;
    }

        .tableContainer table th {
            text-align: center;
        }

    .tableContainer .table > tbody > tr > td, .tableContainer .table > tbody > tr > th, .tableContainer .table > tfoot > tr > td, .tableContainer .table > tfoot > tr > th, .tableContainer .table > thead > tr > td, .tableContainer .table > thead > tr > th {
        padding: 5px;
    }

    .tableContainer.todoHolder {
        padding-left: 15px;
        padding-right: 15px;
        border: 0;
        overflow-x: unset;
        overflow-y: unset;
    }

.mainContentDiv.todoMainHolder {
    margin-left: 225px !important;
}

.todoShortHolder {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
}

.dataTableConatainer {
    width: 100%;
    float: left;
    overflow-x: scroll;
}

.todoHolder .custab {
    width: 100%;
    float: left;
    padding-top: 15px;
}

    .todoHolder .custab .pull-right .form-control {
        float: left;
        width: 141px;
        margin-right: 10px;
    }

.Import {
    float: right;
    background: #fff;
    border-radius: 3px !important;
    padding: 5px 7px;
    border: 1px solid #cecece;
    color: #626262;
    font-size: 12px !important;
    line-height: 14px;
    font-family: arial !important;
}


.grayBg {
    background: #dddddd;
}

.underlineLink {
    color: #222;
    text-decoration: underline;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.myColse {
    cursor: pointer;
}

.logoLoginContainer {
    background-color: #f4f4f4;
    box-shadow: 0 0 15px #ccc;
    min-height: 132px;
}

.footerLogin {
    background: rgba(0,0,0,0.1);
    margin-top: 70px;
    padding: 10px;
    line-height: 70px;
}

.logoLoginContainer img {
    margin: 20px auto;
}

.nopd {
    padding: 0;
}

.formOuterContainer {
    margin: 50px 0 0 0;
}

.formContainer {
    background: #e5e5e5;
    padding: 50px;
    min-height: 402px;
    box-shadow: 0px 0px 25px #666;
}


.forgetPassword a {
    color: #ae8145;
    text-decoration: underline;
}

.loginBtn {
    padding: 5px 50px;
    font-size: 20px;
    border-radius: 50px;
    background: #726026;
}

    .loginBtn:hover, .loginBtn:focus {
        background: #9b812d;
    }

.clientImage {
    position: absolute;
    top: -32px;
    left: -56px;
}


.roundCircle {
    background: #906d4f;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: block;
    min-height: 160px;
    line-height: 160px;
    font-size: 18px;
    margin-top: 80px;
}

    .roundCircle:hover {
        background: #9b812d;
        color: #fff;
        text-decoration: none;
    }

.takeOne {
    position: absolute;
    top: 270px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    left: 40px;
}

    .takeOne:hover, .takeOne:focus {
        color: #fff;
        text-decoration: none;
    }

.bg {
    background: url(../images/bg2.jpg) no-repeat 0 0;
    background-size: cover;
}

.myNav .dropdown-menu > li > a {
    padding: 10px 20px;
    border-bottom: 1px solid #dedcdc;
}

    .myNav .dropdown-menu > li > a:hover, .myNav .dropdown-menu > li > a:focus {
        background: #e7f0f4;
    }



    .myNav .dropdown-menu > li > a span.fa {
        padding-right: 5px;
        font-size: 25px;
        color: #646162;
    }

.myNav .dropdown-menu {
    border-radius: 0;
    padding-bottom: 0;
    padding: 0;
    margin: 0;
}

    .myNav .dropdown-menu > li:last-child > a {
        border-bottom: 0;
    }

    .myNav .dropdown-menu > li:last-child .grayli {
        background: #eee;
        padding: 15px;
        position: relative;
    }

        .myNav .dropdown-menu > li:last-child .grayli .grayClose {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .myNav .dropdown-menu > li:last-child .grayli a.videoThumb {
            width: 30%;
            height: auto;
            display: inline-block;
        }

        .myNav .dropdown-menu > li:last-child .grayli span.grayliTxt {
            width: 70%;
            height: 50px;
            display: inline-block;
        }

            .myNav .dropdown-menu > li:last-child .grayli span.grayliTxt b {
                padding-bottom: 10px;
                margin: 0;
            }

            .myNav .dropdown-menu > li:last-child .grayli span.grayliTxt p {
                padding-bottom: 0;
                margin: 0;
            }

.dropdown.inlineIcon ul.dropdown-menu .liDiv {
}

    .dropdown.inlineIcon ul.dropdown-menu .liDiv li {
        display: inline-block;
        width: calc(33% - 2px);
        text-align: center;
        vertical-align: middle;
    }

.dropdown.inlineIcon ul li a.icontxt {
    border-bottom: 0;
    padding: 0 0;
    display: block;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}


    .dropdown.inlineIcon ul li a.icontxt .fa {
        font-size: 30px;
        color: #646162;
        padding-bottom: 10px;
    }

.dropdown.inlineIcon ul li .inlineDiv {
    border: 1px solid transparent;
    transition: all 0.5s ease;
    min-height: 125px;
    padding: 10px 0;
    position: relative;
}

    .dropdown.inlineIcon ul li .inlineDiv:hover {
        text-decoration: none;
        background: #e7f0f4;
        border: 1px solid #6097b5;
    }

.dropdown.inlineIcon ul.dropdown-menu .liDiv li.videocontainer {
    width: calc(100% + 20px);
    background: #eee;
    padding: 15px;
    position: relative;
    min-height: inherit;
    left: -10px;
    right: -5px;
    bottom: -10px;
}


.dropdown.inlineIcon ul.dropdown-menu .liDiv li .grayClose {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.dropdown.inlineIcon ul.dropdown-menu .liDiv li a.videoThumb {
    width: 30%;
    height: auto;
    display: inline-block;
}

.dropdown.inlineIcon ul.dropdown-menu .liDiv li span.grayliTxt {
    width: 70%;
    height: 50px;
    display: inline-block;
    text-align: left;
}

    .dropdown.inlineIcon ul.dropdown-menu .liDiv li span.grayliTxt b {
        padding-bottom: 10px;
        margin: 0;
    }

    .dropdown.inlineIcon ul.dropdown-menu .liDiv li span.grayliTxt p {
        padding-bottom: 0;
        margin: 0;
    }


.dropdown.inlineIcon ul li a span {
    display: block;
    text-align: center;
}

.dropdown.inlineIcon ul li a.addtxt {
    display: none;
    background: #fff;
    border-top: 1px solid #6097b5;
    transition: all 0.5s ease;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dropdown.inlineIcon ul li .inlineDiv:hover a.addtxt {
    display: block;
}

.dropdown.inlineIcon ul li a.addtxt:hover, .dropdown.inlineIcon ul li a.addtxt:focus {
    text-decoration: none;
}

.dropdown.inlineIcon ul li a.addtxt span {
    display: inline-block;
}


.dropdown.inlineIcon .dropdown-menu {
    padding: 10px;
}

.navbar-nav > li > .dropdown-menu {
}

.navbar-nav > li:first-child > .dropdown-menu {
    left: 0;
}
/*.dropdown.inlineIcon ul.dropdown-menu{ padding:0;}*/

/*=====open dropdown on hover=============== */
.myNav .dropdown:hover .dropdown-menu {
    display: block;
}



/*=====open dropdown on hover=============== */




.dropproject {
    float: left;
}

    .dropproject li {
        list-style-type: none;
    }

    .dropproject a {
        color: #fff;
    }

        .dropproject a:hover {
            text-decoration: none;
        }

.myPlus, .myFilter, .mySort {
    position: relative;
}

.myPlusContainer {
    position: absolute;
    left: 24px;
    top: 7px;
    z-index: 9999;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.myFilterContainer {
    position: absolute;
    left: 24px;
    top: 7px;
    z-index: 9999;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.mySortContainer {
    position: absolute;
    left: 24px;
    top: 7px;
    z-index: 9999;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

.headerList {
    background: #efedee;
    color: #222;
    font-weight: bold;
}

.navbar-right li .glyphicon {
    font-size: 22px;
    position: absolute;
    top: 14px;
}

.caretMove {
    margin-left: 32px;
}

.homeIcon {
    font-size: 22px;
    position: absolute;
    top: 14px;
}

.nav.navbar-nav li a {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 9px;
}

.nav.navbar-nav li ul li a {
    font-weight: normal;
    font-size: 13px;
    padding: 10px;
}

.nav.navbar-nav li ul li {
    position: relative;
}

    .nav.navbar-nav li ul li .plusLink {
        position: absolute;
        right: 0;
        color: #000;
        top: 0;
        display: none;
        display: none;
    }

    .nav.navbar-nav li ul li:hover .plusLink {
        display: block;
    }

.arrow {
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    border-right: 10px solid #efedee;
    left: -10px;
    top: 0;
}

.blockUL {
    display: block !important;
}

.border1 {
    border-right: 1px solid #fff;
}

/*.ui-sortable-helper{ border:3px dashed #000;}*/

.projectNameContainer {
    height: 80px;
    border-left: 15px solid #626262;
    background: #efedee;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-left-color: #626262;
}

.rightIconLinks {
    position: absolute;
    right: 5px;
    top: 5px;
}

    .rightIconLinks li {
        margin-bottom: 5px;
    }

        .rightIconLinks li a {
            color: #999;
            font-size: 14px;
        }

.projectNameContainer:hover .rightIconLinks li a {
    color: #666;
}

.panel {
    border-radius: 0px;
    /*  border: 0px solid transparent;

    margin-bottom: 20px;
    background-color: #fff;
    
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
}

.customPopup .panel-heading.themeColor {
    color: #fff;
    background-color: #626262;
    border-color: #626262;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



.modal-dialog {
    -moz-box-shadow: 0 0 50px 20px #222;
    -webkit-box-shadow: 0 0 50px 20px #222;
    box-shadow: 0 0 50px 20px #222;
}

.panel-title {
    font-size: 12px;
    font-weight: bold;
}



/*==========Multi select customization css==============*/

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    border-color: #999;
    background-color: #0074cc;
    background-image: -ms-linear-gradient(top, #08c, #05c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #08c),to( #05c));
    background-image: -webkit-linear-gradient(top, #08c, #05c);
    background-image: -o-linear-gradient(top, #08c, #05c);
    background-image: -moz-linear-gradient(top, #08c, #05c);
    background-image: linear-gradient(top, #08c, #05c);
    background-repeat: repeat-x;
    border-color: #05c #0055cc #003580;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    color: #fff;
}

.ms-options-wrap > .ms-options > ul li.selected label {
    border-color: transparent;
    background-color: #0074cc;
    background-image: -ms-linear-gradient(top, #08c, #05c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #08c),to( #05c));
    background-image: -webkit-linear-gradient(top, #08c, #05c);
    background-image: -o-linear-gradient(top, #08c, #05c);
    background-image: -moz-linear-gradient(top, #08c, #05c);
    background-image: linear-gradient(top, #08c, #05c);
    background-repeat: repeat-x;
    border-color: #05c #0055cc #003580;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    color: #fff;
}


.ms-options-wrap > .ms-options {
    left: 15px;
    width: calc(100% - 30px);
}

.btnContainer {
    margin-bottom: 10px;
    text-align: center;
}

.width94 {
    width: 94%;
}

/*====filter accordian=============*/

.filterContainer .panel {
    border: 1px solid #cecece;
}

.filterContainer .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f0d7";
    padding-right: 5px;
}

.filterContainer .panel-title > a.collapsed:before {
    float: right !important;
    content: "\f0da";
}

.filterContainer .panel-title > a:hover,
.filterContainer .panel-title > a:active,
.filterContainer .panel-title > a:focus {
    text-decoration: none;
}



.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    color: #fff !important;
    background-color: #0074cc !important;
    border-color: #0074cc !important;
}

.inpWidth50 {
    width: 50px;
    line-height: 28px;
}

.listmapCon {
    padding: 5px 0;
    margin: 5px 0;
}

    .listmapCon span {
        font-size: 25px;
        display: inline-block;
    }

    .listmapCon label {
        display: inline-block;
        margin: 0 0px 0 10px;
    }

    .listmapCon:hover {
        background-color: #fff8bc;
    }

.dataTableConatainer th {
    background: #eee;
}

.dataTables_paginate {
    text-align: center !important;
}

    .dataTables_paginate a {
        background: #f5f5f5;
        border: 1px solid #ddd;
        color: #333;
        padding: 5px 10px;
    }

table.dataTable {
    margin-bottom: 19px !important;
}

    table.dataTable td:first-child {
        position: relative;
    }

.mainContentDiv { /* margin-left:268px;*/
}

#leftNavCon {
    position: absolute;
    left: 0;
    padding-right: 15px;
}

.mrgnRyt0 {
    margin-right: 0;
}

.mrgnLft0 {
    margin-left: 0;
}

.openIcon {
    z-index: 999;
    font-size: 20px;
    position: absolute;
    right: -8px;
    background: #ddd;
    color: #333;
    padding: 5px 5px;
}

.closeIcon {
    z-index: 999;
    font-size: 20px;
    top: 30px;
    position: absolute;
    right: -5px;
    background: #ddd;
    color: #333;
    padding: 5px 8px;
}


.pdleft0 {
    padding-left: 0;
}

.pdright0 {
    padding-right: 0;
}

.tab_content h4 {
}

.popover {
    background: #fff !important;
    opacity: 1 !important;
    padding: 0 !important;
}

.tab_container .form-group label {
    display: block;
}

.addPlusMinus {
    padding-right: 50px;
}

.plusMinusCon {
    position: absolute;
    right: 13px;
    top: 30px;
    z-index: 999;
    background: #fff;
}

    .plusMinusCon a {
        font-size: 17px;
        color: #222;
        margin-right: 5px;
    }

        .plusMinusCon a:hover {
            text-decoration: none;
        }


.addMap {
    padding-right: 30px;
}

.MapCon {
    position: absolute;
    right: 0;
    top: 28px;
}

    .MapCon a {
        font-size: 22px;
        color: #222;
        margin-right: 5px;
    }

        .MapCon a:hover {
            text-decoration: none;
        }

.tabsConatiner .nav > li > a {
    position: relative;
    display: block;
    padding: 6px 10px;
    border-radius: 0 !important;
    color: #333;
    margin-right: 0;
    border: 1px solid #ccc;
}

.tabsConatiner .nav li {
    text-decoration: none;
    background-color: #eee;
}

.tab-content.nested .tab-pane {
    padding: 10px 0;
}

.modalWidth1200 {
    width: 1100px;
}

    .modalWidth1200 .customPopup .panel-body {
        height: 85vh;
        overflow-y: scroll;
    }


.modalWidth400 .customPopup .panel-body {
    height: auto;
}

.modalWidth400 .customPopup .panel-body {
    padding: 10px;
}

.chHolder.odd {
    background: #fff;
}

    .chHolder.odd .permissionTD, .chHolder.odd .innerPermission {
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        background: #fff;
        width: 100%;
        float: left;
    }

.innerPermission {
    border-left: 1px solid #e9e9e9;
}

.tabHolder .chHolder .permissionTD {
    min-height: 77px;
    padding: 7px 12px;
}

.mrgnTop15px {
    margin-top: 15px;
}

.mrgnBot15px {
    margin-bottom: 15px;
}

.ownerDiv {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.profileCon {
    border-left: 1px solid #ccc;
    margin-left: -30px;
    padding-left: 30px;
}

.checkContainer .checkbox-inline {
    margin-bottom: 15px;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.fade.in {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5) !important;
}

.tab-pane.fade.in {
    opacity: 1;
    background: rgba(255, 255, 255, 1) !important;
    padding: 15px;
}

.modal .modal {
    z-index: 9999 !important
}

    .modal .modal .modal-header {
        color: #fff;
        background-color: #626262;
        border-color: #626262;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
    }

        .modal .modal .modal-header h4 {
            font-size: 13px;
        }

.modal-backdrop.in {
    display: none;
}

.no-left-padding {
    padding-left: 0 !important;
}

.companySection {
    display: block;
    margin: -15px 0 -15px 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bolder;
    min-height: 1250px;
    font-weight: normal;
    border-collapse: collapse;
    background-color: #f5f5f5;
    border-radius: 4px;
    text-align: left;
    min-width: 275px;
    color: #626262;
    word-break: break-all;
    -webkit-box-shadow: 3px 0 17px -4px rgba(98,98,98,.72);
    -moz-box-shadow: 3px 0 17px -4px rgba(98,98,98,.72);
    box-shadow: 3px 0 17px -4px rgba(98,98,98,.72);
}

.company-information img {
    max-width: 250px;
    width: auto;
    height: auto;
    position: absolute;
    margin: 45px auto;
    left: 20px;
    right: 50px;
}

.company-information-header {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px 5px 15px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 255px;
    word-break: break-all;
}

#line-break {
    border-bottom: 1px solid #ecebeb;
    max-width: 235px;
    margin-left: 20px;
    padding-top: 5px;
}

.company-info-details {
    padding: 15px;
    min-width: 275px;
}

.disabled-headerTitle span {
    font-size: 14px;
    font-weight: bold;
    max-width: 250px;
    display: inline-block;
    word-break: normal;
}

.company-information span {
    font-weight: normal;
    line-height: 18px;
    padding: 4px;
    max-width: 275px;
}



.setupRow {
    margin-top: 20px;
}

.caption {
    font-size: 14px;
    font-family: sans-serif;
    text-align: left;
    font-weight: 100;
    color: #44a2cc;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    line-height: 16px;
}

.mainheader {
    height: 40px;
    color: #fff;
    text-align: left;
    padding-left: 25px;
    font-family: "Arial",sans-serif;
    font-size: 16px;
    padding-top: 12px;
}

.mainheader {
    background-image: none !important;
    background-color: #626262;
}

.setupRowPadding {
    padding: 0 15px 0 15px;
}

.setupNoPadding {
    padding: 0 !important;
    background-color: #fff;
}

.setupButton {
    display: block;
    border: solid 1px #ccc;
    margin-left: -1px;
    height: 75px;
}

.setupBox {
    width: 100%;
    margin: auto;
    text-align: left;
    display: inline-block;
    line-height: 20px;
    height: 75px;
    padding: 20px 10% 0 20%;
}

    .setupBox img {
        vertical-align: middle;
        margin-right: 5px;
    }

    .setupBox i {
        font-size: 35px;
        color: #999;
        vertical-align: middle;
        margin-right: 5px;
    }


.setupButton:hover, .setupButton:focus {
    background: #eee;
}

@media(min-width:992px)and (max-width: 1024px) {

    .nav > li > a {
        padding: 10px 8px;
    }
}


@media(min-width:900px) {
    .myNav .dropdown-menu {
        min-width: 350px;
        transition: all 0.5s ease;
    }

    .myNav .navLeft li:nth-child(1) .dropdown-menu {
        left: 0;
    }

    .myNav .navLeft li:nth-child(2) .dropdown-menu {
        left: 0;
    }

    .myNav .navLeft li:nth-child(3) .dropdown-menu {
        left: -120px;
    }

    .myNav .navLeft li:nth-child(4) .dropdown-menu {
        left: -82px;
    }

    .myNav .navLeft li:nth-child(5) .dropdown-menu {
        left: -82px;
    }

    .myNav .navLeft li:nth-child(6) .dropdown-menu {
        left: -100px;
    }

    .myNav .navLeft li:nth-child(7) .dropdown-menu {
        left: -100px;
    }

    .myNav .navLeft li:nth-child(8) .dropdown-menu {
        left: -137px;
    }


    .myNav .navbar-right .dropdown-menu {
        min-width: 200px;
        transition: all 0.5s ease;
    }
}


@media(min-width:768px)and (max-width: 800px) {
    .formContainer {
        min-height: auto;
        padding: 23px 50px;
    }

    .clientImage {
        top: -24px;
    }


    .takeOne {
        top: 196px;
        font-size: 13px;
        left: 17px;
    }
}



@media(max-width: 767px) {
    body {
        font-size: 13px;
    }

    .logoContainer img {
        margin: 0 auto;
    }

    .phoneContainer {
        text-align: center;
        margin-top: 10px;
    }

    .jobrunningTotal {
        text-align: center;
        margin-top: 10px;
    }

    .clientImage {
        display: none;
    }

    .takeOne {
        position: static;
        text-align: center;
        display: block;
        background: #937052;
        margin-top: 30px;
        padding: 15px;
    }

    .navbar-inverse.myNav .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
        font-size: 0.9em;
    }

    .dropdown.inlineIcon .dropdown-menu {
        background: #fff;
    }

    .dropdown.open .dropdown-menu {
        background: #fff;
    }
}
/*====== icon menu toggle =======*/
.slidebar {
    width: 13px;
    position: absolute;
    vertical-align: middle;
    -webkit-user-select: none;
    margin: 0 4px;
    float: right;
    background: #fff;
    height: 100vh;
    right: -5px !important;
}

    .slidebar.closeSlide {
        right: -23px !important;
    }

#splitterImages {
    width: 15px;
    height: 100%;
    -webkit-user-select: none;
}

    #splitterImages .BarIndicatory {
        width: 1px;
        background: #989898;
        position: absolute;
        height: 25px;
    }

        #splitterImages .BarIndicatory.left {
            left: 3px;
        }

        #splitterImages .BarIndicatory.middle {
            left: 6px;
        }

        #splitterImages .BarIndicatory.right {
            right: 3px;
        }

.tabelHolder {
    height: 250px;
    overflow-y: scroll;
}

.form-control {
    height: 26px;
    padding: 3px 12px;
    font-size: 12px;
    color: #555;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
}

.modal-dialog .panel {
    border: 0;
}

.modal-dialog .btn-primary {
    color: #fff;
    background-color: #91650c;
    border-color: #91650c;
}

.modal-dialog .btn-default {
    color: #333;
    background-color: #f8f8f8;
    border-color: #ccc;
}
/*.modal-dialog.width94{
    width: 80%;
}*/

.modal-open .modal .modal-dialog {
    width: 75%;
}

    .modal-open .modal .modal-dialog .panel-body {
        height: 80vh;
        overflow-y: scroll;
    }

.cloneingboxholder .multiInputHolder,
.cloneingboxholder {
    width: 100%;
    float: left;
}

    .cloneingboxholder .multiInputHolder {
        border-top: 1px solid #e9e9e9 !important;
        padding-top: 17px;
    }

    .cloneingboxholder .ui-sortable-handle {
        width: 20px;
        float: left;
        text-align: center;
    }

    .cloneingboxholder .liColumn {
        width: 20px;
        float: left;
        text-align: center;
    }

.liColumn input[type="checkbox"] {
    display: none;
}

    .liColumn input[type="checkbox"] + label.lineItemCheck {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(../images/lineItemToDoCheckBox.png) 0 0 no-repeat;
        margin-left: 10px;
        cursor: pointer;
    }

    .liColumn input[type="checkbox"]:checked + label.lineItemCheck {
        background: url(../images/lineItemToDoCheckBox.png) 0 -30px no-repeat;
    }

    .liColumn input[type="checkbox"] + label.lineItemCheck:hover {
        background: url(../images/lineItemToDoCheckBox.png) 0 -15px no-repeat;
    }

.multiCheckBoxHolder,
.multiInputHolder {
    display: none;
}

.cloneMainContainer {
    width: 100%;
    float: left;
}

.cloneingboxholder .liColumn1 {
    width: 95%;
    float: right;
}



.chosen-container-single .chosen-single {
    height: 30px;
}

    .chosen-container-single .chosen-single input[type="text"] {
        border: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .chosen-container-single .chosen-single span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 3px 0 3px 10px;
    }

    .chosen-container-single .chosen-single span {
        display: block;
        overflow: hidden;
        margin-right: 26px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.chosen-container-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
}

    .chosen-container-single div b {
        background-image: url(../images/ui-icons_222222_256x240.png) !important;
        background-size: auto !important;
        margin-top: 7px;
        background-position: -65px -17px;
        width: 16px;
        height: 16px;
    }

.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    display: none;
}

.chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
}

.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

    .chosen-container .chosen-results li {
        display: none;
        margin: 0;
        padding: 5px 6px;
        list-style: none;
        line-height: 15px;
        word-wrap: break-word;
        -webkit-touch-callout: none;
    }

        .chosen-container .chosen-results li.group-option {
            padding-left: 15px;
        }

        .chosen-container .chosen-results li.active-result {
            display: list-item;
            cursor: pointer;
        }


.modal-dialog .close {
    color: #fff;
    text-shadow: 0 0 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
    margin-top: -3px;
}

.logoContainer {
    display: block !important;
}

.leftOuterBtn {
    position: fixed;
    left: 0;
    top: 40%;
    background: #626262;
    display: none;
    z-index: 999;
    padding: 50px 0;
}

.jobPickerSliderJobText {
    color: white;
    font-size: 12px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
    margin-bottom: 0;
}

.iconHolder {
    display: none;
    padding: 0 10px 0 0;
    position: absolute;
    right: 5px;
    bottom: 6px;
}

    .iconHolder img {
        width: 16px;
        height: 16px;
    }

.leftOuterBtn:hover .iconHolder {
    display: block;
}

.dataTables_wrapper.no-footer {
    width: 100%;
    float: left;
    background: #fff;
    padding: 18px;
}

.saveButtonHolder {
    margin-bottom: 15px;
    padding: 0 15px;
    padding: 0 0 8px !important;
    width: 100%;
    float: left;
    border-bottom: 1px solid #a9a9a9;
}

.blueButton,
.Projects-List .btn-primary {
    border: 1px solid #6097b5 !important;
    background: #6097b5 !important;
    color: #fff !important;
    font-size: 12px !important;
    font-family: arial !important;
    cursor: pointer;
    padding: 7px 20px;
    font-weight: normal;
    border-radius: 4px;
}

.Projects-List .btnHolder .btn,
.Projects-List .btnHolder .dropdown {
    float: left;
}

.Projects-List .btnHolder .btn {
    margin-right: 5px;
}

    .Projects-List .btnHolder .btn.tpBtn {
        background-color: transparent;
        padding: 7px 10px;
    }

.clusterMapCon,
#dvMapEdit {
    height: 269px;
}

.blueButton:hover {
    background: #3f7796 !important;
    border: 1px solid #3f7796;
}

.logInHolder {
    width: 100%;
    float: left;
}

    .logInHolder .logInLeft,
    .logInHolder .logInRight {
        padding-right: 0;
        padding-left: 0;
    }

    .panel-body .ms-options-wrap > button:focus,
    .panel-body .ms-options-wrap > button,
    .modal-dialog .input-group .form-control,
    .logInHolder .inputClass {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

.ui-jqgrid-* {
    width: 100% !important;
}

.marTop .btn-default {
    margin-top: 18px;
}

.mainButton, .mainButton-disabled, .deleteButton, .subDeclineButton, .ResetButton {
    background: #fff;
    border: 1px solid #cecece;
    color: #626262;
    font-size: 12px !important;
    line-height: 14px;
    font-family: arial !important;
    cursor: pointer;
    padding: 9px 7px;
    font-weight: normal;
    border-radius: 4px;
}

.filterMap .inpWidth50 {
    width: 40px;
}

.inputHolder {
    margin-left: 10px;
}

.prevHoler, .inputHolder, .nextHolder, .perHolder {
    float: left;
}

.prevHoler {
    padding-left: 17px;
    padding-right: 5px;
}

.inputHolder, .nextHolder {
    padding-right: 5px;
}

    .inputHolder .inpWidth50 {
        width: 32px;
        height: 21px;
        font-size: 1em;
        margin: 0 3px 4px 0;
        border: 1px solid #9b9b9b;
        border-radius: 5px;
        text-align: center;
        color: #626262;
    }

span.ui-icon-excel {
    background: url(../images/iconExportExcelSm.png) !important;
    width: 20px;
    margin-left: 2px;
}

.Projects-List .nav-tabs,
ul.tabs {
    height: auto;
}

    .Projects-List .nav-tabs:before,
    .Projects-List .nav-tabs:after {
        display: none;
    }

.Projects-List #frmSubmitProjectMaster {
    width: 100%;
    float: left;
}

    .Projects-List #frmSubmitProjectMaster .tab-pane.fade.in {
        background: rgb(238, 238, 238) !important;
    }

.modalWidth1200 .customPopup .Projects-List .panel-body {
    height: 100%;
}

.Projects-List .tabConInfo h4 {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    color: #626262;
    font-family: arial;
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.Projects-List .panel {
    border-radius: 5px 5px 0 0;
}

.Projects-List .panel-heading {
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    color: #626262;
    font-family: arial;
    border-radius: 5px 5px 0 0;
}

#existingower {
    display: block;
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

    #existingower .modal-dialog {
        top: 45px;
        position: absolute;
        width: 91%;
        z-index: 9;
        right: 0;
        left: 0;
    }

    #existingower .modal-content .modal-body {
        overflow: scroll;
    }

.Projects-List .tabConInfo #existingower h4 {
    background: transparent;
    color: #fff;
}

.Projects-List .tabConInfo .row {
    background: #fff;
    margin-right: 0;
    margin-left: 0;
    margin: -10px 0 0;
    padding-top: 13px;
}

.Projects-List .nav-tabs {
    border-bottom: 1px solid #ddd;
    width: 100%;
    float: left;
}

    .Projects-List .nav-tabs li a,
    ul.tabs li {
        font-weight: 700;
        color: #555;
        padding: .5em 1em;
        height: auto;
        line-height: 100%;
        background: #f8f8f8 !important;
    }

        .Projects-List .nav-tabs li:first-child a,
        ul.tabs li:first-child {
            border-radius: 5px 0 0 0 !important;
        }

        .Projects-List .nav-tabs li:last-child a,
        ul.tabs li:last-child {
            border-radius: 0 5px 0 0 !important;
        }

        .Projects-List .nav-tabs li a:hover
        ul.tabs li:hover {
            color: #626262;
            background: #eaeaea;
        }

        .Projects-List .nav-tabs li.active a,
        ul.tabs li.active {
            color: #6097b5 !important;
            background: #fff !important;
        }
/*.modal-dialog.width94{
    width: 80%;
}*/
.width94 .panel-default,
.todoShortHolder .panel-default {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

    .width94 .panel-default .panel-title a,
    .todoShortHolder .panel-default .panel-title a {
        display: inline-block;
        font-weight: 400;
        margin-top: -16px;
        float: left;
        background: #fff;
    }

    .width94 .panel-default > .panel-heading,
    .todoShortHolder .panel-default > .panel-heading {
        background-color: transparent;
    }

.width94 .panel-group .panel-heading + .panel-collapse > .panel-body,
.todoShortHolder .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 0;
}

.width94 .panel-default .panel-title a:before,
.todoShortHolder .panel-default .panel-title a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f0d7";
    padding-left: 5px;
}


.mainButton:hover, .mainDropDown:hover, .ResetButton:hover {
    background: #efedee !important;
}

.passwordHolder .inputClass {
    width: 80%;
    float: left;
}

.ResetButton {
    float: right;
}

.alertMessage {
    width: 100%;
    float: left;
}

    .alertMessage .adminLabel,
    .alertMessage .alertInput,
    .alertMessage .moretext {
        float: left;
    }

.tabHeading {
    font-weight: bold;
    font-size: 16px;
    font-family: Arial;
    color: #626262;
    margin-bottom: 10px;
}

.tab-pane .permissionHolder {
    padding: 0;
}

.seconHolder.permissionHolder .checkAll .adminLabel {
    font-weight: 400;
}

.permissionTD,
.innerPermission,
.floatThead-container .permissionTD,
.floatThead-container .innerPermission {
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: #f7f7f7;
    width: 100%;
    float: left;
    border-left: 1px solid #e9e9e9;
}

    .permissionTD .view:before,
    .permissionTD .view:after {
        display: none;
    }

    .permissionTD .checkAll {
        list-style: none;
        display: inline-block;
        background: transparent;
        font-size: 12px;
        padding: 0 0 0 9px;
    }

.chHolder .permissionTDHolder ul {
    padding: 0 29px 0 0;
}

.chHolder .permissionTDHolder .checkAll {
    padding: 0 0 0 18px;
}

.chHolder.odd .permissionContent tr td:last-child .permissionTDHolder {
    width: 235px;
    float: right;
}

.permissionTD .checkAll .adminLabel {
    font-size: 12px;
    font-family: Arial;
    color: #626262;
    margin-bottom: 3px;
    font-weight: 700;
}

.innerPermission .tableTitle {
    float: left;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.permissionTDHolder {
    float: right;
}

.tabHolder {
    width: 100%;
    float: left;
}

.fieldset {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 15px;
    min-height: 17px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

    .fieldset legend {
        font-size: 12px;
        color: #626262;
        text-transform: uppercase;
        width: auto;
        border: 0;
    }

.dropdownHolder {
    width: 40%;
    float: left;
}

legend:after {
    content: "";
    display: inline-block;
    border-bottom: 5px solid #626262;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin: 0 5px;
    transition: all .2s ease;
}

.close legend:after {
    transform: rotate(180deg);
}

.ui-jqgrid,
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-toppager,
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-hdiv,
.ui-jqgrid .ui-jqgrid-bdiv,
.ui-jqgrid > .ui-jqgrid-pager {
    width: 1302px !important;
    overflow: scroll;
}

    .ui-jqgrid .ui-jqgrid-btable,
    .ui-jqgrid .ui-jqgrid-htable {
        width: 100% !important;
    }

.tab_container {
    overflow: scroll;
}

.ui-widget.ui-widget-content {
    border: 1px solid #d3d3d3;
    overflow: hidden;
}

.container-fluid.sandbox .row .ui-jqgrid * {
    box-sizing: content-box;
}

.ui-jqgrid .ui-jqgrid-titlebar {
    padding: .3em .2em .2em .3em;
    position: relative;
    font-size: 12px;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555;
}

.ui-jqgrid .ui-pager-control {
    position: relative;
}

.container-fluid.sandbox .row .ui-jqgrid * {
    box-sizing: content-box;
}

.ui-jqgrid .ui-pg-table {
    position: relative;
    padding-bottom: 2px;
    width: auto;
    margin: 0;
    background: #ebebeb;
    width: 100% !important;
}

    .ui-jqgrid .ui-pg-table td {
        vertical-align: middle;
        padding: 1px;
        font-size: 12px;
        color: #404040;
    }

.ui-jqgrid .ui-pg-table {
    position: relative;
    padding-bottom: 2px;
    width: auto;
    margin: 0;
    background: #ebebeb;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    font-size: 14px;
    color: #404040;
    font-weight: bold;
}

.ui-jqgrid .ui-jqgrid-sortable {
    cursor: pointer;
}

.ui-icon, .ui-widget-content .ui-icon {
    /*background-image: url(images/ui-icons_222222_256x240.png);*/
    background-image: url(../images/ui-icons_222222_256x240.png) !important;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
    height: 200px !important;
    width: 1302px !important;
    overflow: auto !important;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr, .ui-state-default.ui-jqgrid-hdiv {
    background: #ddd !important;
}

.formHolder {
    width: 100%;
    margin-bottom: 15px;
}

.bt-link-schedule-item--datetime-picker {
    width: 100%;
    float: left;
    padding: 0;
}

.bt-link-schedule-item--date-picker,
.bt-link-schedule-item--time-picker {
    float: left;
    width: 48%;
}

.bt-link-schedule-item--date-picker {
    margin-right: 7px;
}

.formHolder,
.formHolder .leftFormHeading {
    float: left;
}

    .formHolder .leftFormHeading {
        width: 100px;
        height: 30px;
        line-height: 30px;
    }

    .formHolder .rightFormText {
        float: right;
        width: 70%;
        text-align: left;
    }

    .formHolder.edit .rightFormText {
        float: right;
        width: 63%;
        text-align: left;
        margin-right: 4px;
    }

.editHolder {
    float: right;
    margin-top: 9px;
}

.topSection {
    width: 100%;
    float: left;
    background: #fff;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

    .topSection h2 {
        font-size: 20px;
        color: #626262;
    }

    .topSection.fileMessaging {
        padding: 0;
    }

        .topSection.fileMessaging h2 {
            border-bottom: 1px solid #eeeeee;
            padding: 15px;
            margin: 0 0 15px;
        }

.rightFormText .col-md-12 {
    padding: 0;
}

.bt-whole-number--value {
    width: 37%;
    float: left;
}

.chosen-container {
    width: 48% !important;
    float: right;
}

    .chosen-container.chosen-container-single {
        width: 100% !important;
        float: left;
    }

.chosen-container-single .chosen-single input[type="text"] {
    cursor: pointer;
    opacity: 1;
    position: absolute;
}

.chosen-container-single .chosen-single span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3px 0 3px 10px;
}

.bt-single-select-dropdown .chosen-container-single .chosen-single {
    height: 30px;
    line-height: 25px;
    color: #626262;
}

.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.bt-link-schedule-item--days-section {
    display: flex;
}
.bt-link-schedule-item--days, .bt-link-schedule-item--typeSelect {
    flex: 1 50%;
}
.bt-link-schedule-item--daysText {
    width: 50px;
    line-height: 30px;
    padding: 0 10px;
}*/
.bt-link-schedule-item--days-section .bt-link-schedule-item--days,
.bt-link-schedule-item--days-section .bt-link-schedule-item--daysText,
.bt-link-schedule-item--days-section .bt-link-schedule-item--typeSelect {
    float: left;
}

.bt-link-schedule-item--days-section .bt-link-schedule-item--days {
    width: 40%;
    margin-right: 7px;
}

.bt-link-schedule-item--days-section .bt-link-schedule-item--typeSelect {
    width: 40%;
}

    .bt-link-schedule-item--days-section .bt-link-schedule-item--typeSelect .chosen-search-input {
        width: 100%;
        margin-left: 10px;
    }

.bt-link-schedule-item--days-section .bt-link-schedule-item--days .bt-whole-number--value {
    width: 100%;
    float: left;
}

.bt-link-schedule-item--related-schedule-item {
    margin-top: 10px;
}

    .bt-link-schedule-item--related-schedule-item .chosen-search-input {
        width: 100%;
    }

.topSection.fileMessaging .col-md-6 h2 {
    border-bottom: 0;
}

.modal-dialog.innerPop {
    width: 60% !important;
}

.topSection h3,
.topSection.fileMessaging h2 span {
    font-size: 12px;
    color: #626262;
}

.topSection.fileMessaging h2 span {
    width: 100%;
    float: left;
}

.rightDiv {
    border-left: 1px solid #eee;
}

.rightDiv,
.leftDiv {
    padding: 15px 0;
}

.checkedActionBtn {
    float: left;
    margin-right: 7px;
    position: relative;
}

    .checkedActionBtn a {
        vertical-align: top;
        display: inline-block;
        position: relative;
        border-radius: 3px !important;
        padding: 4px 25px 4px 16px !important;
        background: #fff !important;
        border: 1px solid #cecece;
        color: #626262 !important;
        font-size: 12px !important;
        font-family: arial;
        box-shadow: none !important;
        cursor: pointer;
        font-weight: normal;
        border-radius: 4px !important;
    }

        .checkedActionBtn a:after {
            content: " ";
            margin-left: 5px;
            background: url(../images/dropdownArrow.png) no-repeat !important;
            width: 15px;
            height: 15px;
            position: absolute;
            right: 2px;
            top: 6px
        }

.splitdropdown {
    margin-top: -5px;
    display: none;
    left: 0;
    top: 32px;
    list-style: none;
    position: absolute;
    z-index: 99 !important;
    background: #fff;
    -webkit-box-shadow: 0 0 10px #a8a8a8;
    box-shadow: 0 0 10px #a8a8a8;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color="#A8A8A8",Direction=135,Strength=4);
    padding: 0;
    width: 159px;
}

    .splitdropdown.disabled {
        background-color: #f2f2f2;
        text-decoration: none;
        cursor: default;
    }

    .splitdropdown ul {
        margin: 0;
        padding: 0;
    }

        .splitdropdown ul li {
            list-style: none;
            padding: 12px 11px;
            border-bottom: 1px solid #d4d4d4;
        }

            .splitdropdown ul li img,
            .splitdropdown ul li i {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }

input[type="checkbox"].single-to-do-check {
    display: none;
}

    input[type="checkbox"].single-to-do-check:checked + label.single-to-do-check {
        background: url(../images/single-to-do-checkbox.png) 0 -66px no-repeat;
    }

    input[type="checkbox"].single-to-do-check + label.single-to-do-check {
        display: inline-block;
        width: 32px;
        height: 33px;
        background: url(../images/single-to-do-checkbox.png) no-repeat;
        margin-left: 10px;
        cursor: pointer;
    }

        input[type="checkbox"].single-to-do-check + label.single-to-do-check:hover {
            background: url(../images/single-to-do-checkbox.png) 0 -33px no-repeat;
        }

.to-do-label-status {
    float: left;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 700;
}

.panel-body {
    background: #eeeeee;
    padding: 15px;
}

.ui-multiselect.btMultiSelect {
    height: 30px;
    padding: 2px 16px 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
}

    .ui-multiselect.btMultiSelect.reminderBtn {
        width: 93%;
    }

.buttonContainer {
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px 28px 15px 15px;
    margin-bottom: 15px;
}

.contactLabelPopUp .modal-dialog {
    width: 350px;
}

.floatThead-table {
    width: 100%;
}

.permissionContent {
    display: table;
}

.chHolder .permissionContent tr td {
    display: table-cell;
    background: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    background: #f7f7f7;
    border-left: 1px solid #e9e9e9;
}

.chHolder.odd .permissionContent tr td,
.chHolder .permissionContent tr td,
.floatThead-table tr td {
    width: 50%;
}

.chHolder.odd .permissionContent tr td {
    display: table-cell;
    background: #fff;
}

.chHolder .permissionContent tr td:last-child .permissionTDHolder ul {
    /*padding-right:40px;*/
    padding-left: 40px;
    padding-right: 0;
    float: left;
}

.permissionTDHolder,
.checkAllHolder {
    width: 100%;
    float: left;
}

.fieldHeader {
    float: left;
}

.permissionTDHolder ul {
    float: right;
}

@media (min-width: 1200px) {
    /*default so you don't need this*/
    div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 1240px) {
    .mainContentDiv {
        margin-left: 0 !important;
        width: 100% !important;
    }

    #leftNavCon {
        position: absolute;
        left: 0;
        padding-right: 15px;
        z-index: 99;
    }

        #leftNavCon .list-group {
            box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.4);
        }

    .slidebar {
        width: 13px;
        position: absolute;
        vertical-align: middle;
        -webkit-user-select: none;
        margin: 0 4px;
        float: right;
        background: #fff;
        height: 50px;
        right: -5px !important;
        box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.4);
    }

        .slidebar.closeSlide {
            display: none;
        }
}

@media (max-width: 767px) {
    .dataTableConatainer.table-responsive .col-sm-4 {
        width: 100%;
        padding: 10px 0;
    }
}

.modalWidth1200 .customPopup .panel-body {
    height: 85vh;
    overflow-y: scroll;
}

.modalWidth1200 .customPopup #frmSubmitProjectMaster .panel-body {
    height: auto;
    overflow: hidden;
}

.permissionContent .rightTableAlign {
    width: 35%;
    float: right;
    margin-right: 16px;
}

    .permissionContent .rightTableAlign table {
        width: 100%;
        float: left;
    }

    .permissionContent .rightTableAlign tr td.checkAll {
        width: 25px;
        text-align: left;
        border: 0;
        padding-left: 0;
    }

.chHolder.odd .permissionContent tr td,
.chHolder .permissionContent tr td {
    padding: 5px;
}
body .btn-success,
body .blueButton, body .Projects-List .btn-primary {
    color: #fff !important;
    background-color: #7c6e51 !important;
    border-color: #7c6e51 !important;
}

    body .btn-success:hover,
    body .blueButton:hover, body .Projects-List .btn-primary:hover {
        color: #fff !important;
        background-color: #ad9563 !important;
        border-color: #ad9563 !important;
    }