@model Benaa2018.Helper.ViewModels.MainActivityMasterViewModel
<div class="modal-dialog activityHolder">
    <form id="frmMainActivitySetup" enctype="multipart/form-data" method="post">
        <div class="panel panel-primary customPopup">
            <div class="panel-heading themeColor">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="contactLabel">Main activity setup</h4>
            </div>

            <div class="panel-body">

                <div class="dropdown">
                    <button class="btn btn-success btn-sm dropdown-toggle btncalendar" type="button" data-toggle="dropdown" id="btnMainActivitySave">
                        Save
                    </button>
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnMainActivitySaveNew">
                        Save &amp; New
                    </button>
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="btnMainActivityDelete">
                        Delete
                    </button>
                    <div class="activeCheckBox pull-right">
                        <input type="checkbox" name="Status" asp-for="Status"><span>Active</span>
                    </div>
                </div>

                <div class="tabsConatiner">
                    <div class="mainTab">
                        <div class="dataTableConatainer Predecessorlink">
                            <h2 class="header">Adding Main Activity</h2>
                            <div class="predecessoritem">
                                <div class="form-group">
                                    <input type="hidden" asp-for="MainActivityId" />
                                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                                        <label>Main Activity Code</label>
                                        <input class="form-control" type="text" asp-for="MainActivityCode" data-error="Please enter Main activity Code">
                                    </div>
                                    <div class="input-group col-md-6 col-sm-6 col-xs-12">
                                        <label>Main Activity Name</label>
                                        <input class="form-control" type="text" asp-for="MainActivityName" data-error="Please enter Main activity Name">
                                    </div>
                                    <div class="input-group Sequence col-md-3 col-sm-3 col-xs-12">
                                        <label>Group Name</label>
                                        <select asp-for="GroupId"
                                                class="form-control"
                                                asp-items="@(new SelectList(Model.lstGroupMaster,"GroupId", "GroupName"))" data-error="Please select group code"></select>
                                    </div>
                                    <div class="input-group Sequence col-md-3 col-sm-3 col-xs-12">
                                        <label>Sequence</label>
                                        <input class="form-control" type="text" asp-for="Sequence" data-error="Please enter Sequence">
                                    </div>

                                    <div class="input-group col-md-12 col-sm-12 col-xs-12">
                                        <label>Details</label>
                                        <textarea class="flatTextBox" rows="6" cols="20" asp-for="MainActivityDescription "></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

