@model Benaa2018.Helper.ViewModels.MainActivityMasterViewModel
@{
    ViewData["Title"] = "UpdateMainActivityMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UpdateMainActivityMaster</h2>
<form method="post" action="/MainActivityMaster/UpdateMainActivityMaster">
    <div>

        <input type="hidden" asp-for="MainActivityId" />
        <div>
            <label asp-for="MainActivityName" class="col-md-2 control-label"></label>
            <div class="col-md-12">
                <input asp-for="MainActivityName" class="form-control" />

            </div>
        </div>
        <div>
            <label asp-for="GroupId" class="col-md-2 control-label"></label>
            <div class="col-md-12">
                @*<input asp-for="Sequence" class="form-control" />*@
                <select asp-for="GroupId" class="form-control" asp-items="@(new SelectList(@ViewBag.listofGroup,"GroupId","GroupName"))"></select>
                @*<select asp-for="" class="form-control" asp-items="@(new SelectList(@ViewBag.listofCountry,"ID","Name"))"></select>*@
            </div>

        </div>
        <div>
            <label asp-for="Sequence" class="col-md-2 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Sequence" class="form-control" />
            </div>
        </div>
        <div>
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-12">
                <input asp-for="Status" type="checkbox" />
            </div>
        </div>
        <div>
            <div class="col-md-12">
                <button type="submit">Save</button>
            </div>
        </div>

    </div>
</form>